h1 {
  margin: 8px 0;
  padding: 8px 0;
  font-size: 200%; }

h2 {
  font-size: 150%; }

h1, h2, h3 {
  font-weight: 400; }

td > p {
  margin-bottom: 0; }

th > p {
  margin-bottom: 0; }

table.schedule {
  display: table;
  width: 100%;
  layout: fixed;
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 1.5em; }

table.schedule tr {
  border-top: 1px solid #eaecef; }

table.schedule th {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }

th.time {
  width: 5em; }

table.schedule a {
  color: #000; }
  table.schedule a:hover {
    color: #ff5733;
    text-decoration: none; }

table.schedule td, table.schedule th {
  vertical-align: top;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 1.0em; }

table.schedule td {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

table.schedule tr:last-child {
  height: 1.5em; }

table.schedule tr:nth-child(2n) {
  background-color: #f6f8fa; }

ul, ol {
  padding-left: 1.1em; }

.header {
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFF;
  background: #2F1731; }

.header .col-md-6 {
  padding-left: 0px; }

.nav {
  white-space: nowrap; }

.nav, .title {
  font-weight: 400;
  font-size: 200%; }

div.title {
  padding-left: 0; }

.title > a {
  color: #FFF; }
  .title > a:hover {
    text-decoration: none; }

.nav > li > a {
  font-family: "HelveticaNeueW01-67MdCn 692710", "HelveticaNeueW01-45Ligh", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 19px;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  font-style: normal;
  padding: 10px 0px;
  margin: 0px 10px;
  text-decoration: none;
  color: #FFF; }

.nav > li > a:hover,
.nav > li > a:focus {
  color: #ff5733; }

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
  color: #FFF;
  border-bottom: 2px solid #ff5733; }

.nav > li.external > a {
  color: #39f5e6;
  border: 2px solid #FFF;
  padding-left: 1em;
  padding-right: 1em; }

.nav > li.external > a:hover {
  color: #FFF; }

.nav-pills > li + li {
  margin-left: 5px; }

.content {
  padding-left: 25px;
  padding-right: 25px; }

div.content > .col {
  padding-left: 0;
  padding-right: 0; }

.footer {
  border-top: 1px solid #2F1731;
  padding-left: 25px;
  padding-top: 15px; }

.footer > div[class^="col"] {
  padding-left: 0;
  padding-right: 0; }

.footer > .row {
  padding-left: 25px;
  padding-right: 25px; }

.text-orange {
  color: #ff5733; }

.landing {
  font-size: 133%;
  color: #FFF;
  background: #2F1731;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px; }

.small {
  font-size: 80%; }

.landing a {
  color: #FFF;
  text-decoration: underline; }

.btn-custom {
  text-transform: uppercase;
  color: #FFF !important;
  text-decoration: none !important;
  background: #39f5e6;
  padding: 16px 30px;
  display: inline-block;
  letter-spacing: .05em;
  position: relative; }
  .btn-custom > span {
    position: relative;
    z-index: 2; }
  .btn-custom:before {
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 0;
    transition: .3s all ease-in-out;
    z-index: 1; }
  .btn-custom:hover {
    text-decoration: none; }
    .btn-custom:hover:before {
      width: 100%; }
