<!-- <div class="col"> -->
  <!-- <div class="row"> -->
<!--     <div class="col-sm-12 col-md-4">
    <h3>Silver Sponsors</h3>
    <img src="{{ '/assets/images/Facebook-06-2015-Blue.png' | relative_url }}" style="height: 100px" alt="google-logo">
    </div>

    <div class="col-sm-12 col-md-8">
    <h3>Bronze Sponsors</h3>
    <img src="{{ '/assets/images/oracle-sponsorship-no-margin.png' | relative_url }}" style="height: 90px; margin-right: 2em" alt="intel-logo">
    <img src="{{ '/assets/images/jane-street.png' | relative_url }}" style="height: 100px" alt="intel-logo">
    </div>
 -->
  <!-- </div> -->
<!-- </div> -->
