<div class="col">
  <div class="row">
  
    <div class="title col-sm-12 col-md-4">
      <a href="/">PROB<span class="text-orange">PROG</span>2020</a>
    </div>
  
    <div class="col-sm-12 col-md-8">
      <ul class="nav nav-pills float-right">
        {% for link in site.navigation %}
        {% capture url %}{{site.baseurl}}{{link.url}}{% endcapture %}
        <li {% if page.url == link.url %}class="active"{% endif %}>
          <a href="{{url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
        {% endfor %}
        <li class="external">
          <a href="https://probprog.ticketleap.com/probprog-2020/" title="Registration">Registration</a>
        </li>
        <li class="external">
          <a href="https://airtable.com/shrP9DcRnK3z2WMya" title="E-mail">Updates</a>
        </li>
      </ul>
    </div>
  </div>
</div>

