<div class="col">
  <div class="row">
  
    <div class="title col-sm-12 col-md-3">
      <a href="/">PROB<span class="text-gold">PROG</span>2021</a>
    </div>
  
    <div class="col-sm-12 col-md-9">
      <ul class="nav nav-pills float-right">
        {% for link in site.navigation %}
        {% capture url %}{{site.baseurl}}{{link.url}}{% endcapture %}
        <li {% if page.url == link.url %}class="active"{% endif %}>
          <a href="{{url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
        {% endfor %}
<!--         <li class="external">
          <a href="https://probprog.ticketleap.com/probprog-2020/" title="Registration">Registration</a>
        </li>
 -->      
        </ul>
    </div>
  </div>
</div>

