<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <title>PROBPROG 2020</title>
  </head>

  <body>
    <div class="container">

      <div class="header row">
        {% include header.html %}       
      </div>

      <div class="landing row">
        <div class="col">
          <span class="d-block mb-2">Thu Oct 22 – Sat Oct 24 2020</span>
          <span class="d-block mb-4 small"><em>In response to growing public health concerns surrounding the COVID-19 outbreak, we have postponed PROBPROG 2020 to October 2020. This decision reflects our best judgement as organizers, as well as <a href="https://medical.mit.edu/news/2020/01/2019-novel-coronavirus-updates-1">guidelines</a> by MIT. Registrations and accepted submissions will remain valid. We will refund all attendees who are will no longer be able to attend. To invite further participation, there wil be a second deadline for <a href='/submissions'>late-breaking submissions</a> on August 7 2020.</em></em></span>
          <span class="d-block mb-4">
            <img src="/assets/images/PROBPROG_redangles.png" alt="PROBPROG 2020" width="50%">
          </span>
          <span class="d-block mb-5">
            Massachusetts Institute of Technology<br>
            Cambridge, Massachusetts, United States
          </span>
          <a href="https://probprog.ticketleap.com/probprog-2020/" class="btn-custom mb-3"><span>REGISTER</span></a>        
          <span class="d-block mb-4 small"><em>Registrations are fully refundable until Sep 22 2020.</em></span>
        </div>
      </div>

      <div class="footer row">
        {% include footer.html %}       
      </div>
    </div>

    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

  </body>
</html>
