<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CC3NB7PXEE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CC3NB7PXEE');
    </script>

    <title>{{site.title}}</title>
  </head>

  <body>
    <div class="container">

      <div class="header row">
        {% include header.html %}
      </div>

     <div class="landing">
      <table style="width:100%">
        <tr>
          <td style="width:50%; vertical-align: center; padding-right: 20px;">
          <img src="/assets/images/probprog-logo-2023-fall.svg" alt="PROBPROG 2023" width="100%"></td>
          <td style="width:45%; vertical-align: center">
            <strong>Seminars will take place online on the following days</strong>
              <ul>
              <li><s>Thu Sep 28, 2023. 11:00 am - 12:30 pm US ET</s></li>
              <li><s>Thu Oct 26, 2023. 11:00 am - 12:30 pm US ET</s></li>
              <li><s>Thu Nov 30, 2023. 11:00 am - 12:30 pm US ET</s></li>
              <li>Thu Dec 21, 2023. 11:00 am - 12:30 pm US ET</li>
            </ul>
          </td>
        </tr>
      </table>
    Questions? Contact organizers at
    <a href="mailto:probprog-seminar@lists.andrew.cmu.edu" target="_blank">probprog-seminar@lists.andrew.cmu.edu</a>
    </div>

      <div class="footer row">
        {% include footer.html %}
      </div>

    </div>

    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

  </body>
</html>
