<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CC3NB7PXEE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CC3NB7PXEE');
    </script>

    <title>{{site.title}}</title>
  </head>

  <body>
    <div class="container">

      <div class="header row">
        {% include header.html %}
      </div>

     <div class="landing">
      <table style="width:100%">
        <tr>
          <td style="width:75%; vertical-align: top">
            <h2>International Conference on Probabilistic Programming</h2>
            <h3>SPRING 2024 SEMINAR SERIES - Upcoming Talks</h3>
            <p style="margin-bottom: 10px;">
              10am US Eastern Time via Zoom. See <a href="agenda/">Agenda</a> for full details.
            </p>
            <ul style="font-size:14pt">

              <li style="margin-bottom: 10px"><strong>Mar 20 2024. Alex Lew (MIT) </strong><br/>
                Scaling Probabilistic AI with Automatic Differentiation of Probabilistic Programs.
              </li>

              <li style="margin-bottom: 10px"><strong>Mar 27 2024. Wonyeol Lee (CMU) </strong><br/>
                Smoothness Analysis for Probabilistic Programs.
              </li>

              <li style="margin-bottom: 10px"><strong>Apr 03 2024. Tan Zhi-Xuan (MIT) </strong><br/>
                Real-Time Open-Ended Goal Inference via Programmable Bayesian Inverse Planning.
              </li>

              <li style="margin-bottom: 10px"><strong>Apr 10 2024. Di Wang (Peking University) </strong><br/>
                Algebraic Program Analysis of Probabilistic Programs.
              </li>

              <li style="margin-bottom: 10px"><strong>Apr 17 2024. Du Phan, Heiko Zimmerman (Google, Northeastern)</strong><br/>
                Coix: A framework for compositional inference with probabilistic programs in JAX.
              </li>

              <li style="margin-bottom: 10px"><strong>Apr 24 2024. Fabian Zaiser (Oxford) </strong><br/>
                Generating Functions for Bayesian Inference on Probabilistic Programs.
              </li>

          </ul>
          </td>
          <td style="width:0%; vertical-align: top;">
          <img src="/assets/images/probprog-logo-2024-spring.svg" alt="PROBPROG 2024" width="100%"></td>
        </tr>
      </table>
    Questions? Contact the organizers (Feras Saad, Steven Holtzen) at
    <a href="mailto:probprog-seminar@lists.andrew.cmu.edu" target="_blank">probprog-seminar@lists.andrew.cmu.edu</a>
    <br/>
    Please sign up to the
    <a href="https://lists.csail.mit.edu/mailman/listinfo/probabilistic-programming" target="_blank">mailing list</a>
    for updates.
    </div>

      <div class="footer row">
        {% include footer.html %}
      </div>

    </div>

    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

  </body>
</html>
